body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
.navcontrainer{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    /* border: 2px red solid; */
    height: 2.5rem;
    width: 90rem;
    justify-items: center;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}
.datanav{
    /* border: 2px red solid; */
    display: flex;
    flex-direction: row;
    
    /* justify-content: space-between; */
    width:50%;
    margin-right: 2.5rem;
    justify-items: end;
    text-align: left;

}
li{
    margin-left: 3rem;
}
.nameweb{
    margin-left: 2.5rem;
    font-weight: 700;
    font-style: normal; 
    font-size: 35PX;   
    
}
.maincontrainer{
    justify-items: center;
    align-items: center;
    
}
.mainbox{
    height: 40rem;
    width: 90rem;
    display: flex;
    flex-direction: row;
    
    
}
img{
    height: 100%;
    width: 50%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -2;
}
.backgoundmain1{
    background: linear-gradient(45deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Example gradient colors */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.backgoundmain2{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Example gradient colors */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}
.backgoundmain3{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgb(255, 255, 255)); /* Example gradient colors */
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
}

.box1,.box2{
    
    width: 50%;
    /* border: 2px solid red; */

}
.conbox1{
    /* border: 2px red solid; */
    width: 38rem;
    
}
.textbox1{
    font-size: 40PX;
}
.box1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    padding-top: 9.5rem;
}
a{
    text-decoration: none;
    color: black;
}

/* CSS */
.button-30 {
  margin-top: 15px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}